<c8y-title>{{ "Subassets" | translate }}</c8y-title>
<div class="card">
  <div class="card-header p-l-32 separator j-c-between">
    <div class="card-block">
      <c8y-device-grid
        [title]="titleMapping | translate"
        [withChildren]="true"
        [selectable]="true"
        [columns]="columns"
        [parentDeviceId]="currentGroupId"
        [pagination]="pagination"
        [actionControls]="actionControls"
        [refresh]="refresh"
        [baseQuery]="baseQuery"
      >
      </c8y-device-grid>
    </div>
  </div>
</div>
